#nav-logo {
  font-family: "Orbitron", sans-serif;
}

#sign-ilustrasi img {
  width: 60%;
  position: relative;
  transform: translateY(2.8rem);
  z-index: 2;
}

.hero-section {
  background-image: url('../assets/bg-hero-section.png');
  background-repeat: no-repeat;
  background-size: cover;
}

  #slide-hero {
    width: 60%;
  }

.height-img {
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.height-img img {
  width: 120px;
}

.gallery-section {
  background-image: url('../assets/gallery-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

 .pagination .page-item .page-link {
   background-color: transparent;
   color: #00E1FF;
   border-color: #00E1FF;
}

.pagination .page-item.active .page-link {
    background-color: #00E1FF;
    color: white;
} 

#drop-down {
  position: absolute;
  margin-left: -4rem;
}


@media (max-width: 576px) {
    
  #sign-ilustrasi img {
    width: 70%;
    transform: translateY(3.9rem);
  }
  
  #welcome-section {
    display: block !important;
  }
  
  #img-fluid {
    width: 100% !important;
  }
  
  #welcome-caption {
    width: 100% !important;
  }
  
  #card-size {
    width: 19rem;
  }
  
}
